@font-face {
    font-family: storyfont;
    src: url("../IntroductionScreen/fonts/GoodDog.otf");
}

@font-face {
    font-family: footerFont;
    src: url("../IntroductionScreen/fonts/ArchitectsDaughter.ttf");
}

@font-face {
    font-family: headerFontFill;
    src: url("../IntroductionScreen/fonts/AmazDooMLeft.ttf");
}


#GameOver>p{
    position: absolute;
    left: 710px;
    top: 260px;
font-family: "headerFontFill";
    font-size: 10em;
    font-weight: 500;
    color: rgba(233, 0, 5, 0.91);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    text-align: center;
    text-shadow: 10px 10px 5px  #151617, #000 0 -1px 2px;
    letter-spacing: 5px;
    margin:0;
    padding-top: 50px;
    padding-bottom: 0px;
}

/*#GameOver > p:hover {*/
/*color: #94AAD9;*/
/*text-shadow: 10px 10px 20px  #000, #000 0 -1px 2px;*/
/*}*/

#high-scores{
    display: none;
    position: absolute;
    left: 820px;
    top: 260px;
    line-height: 43px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    font-family: 'storyFont';
    font-size: 3.8em;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px #000;
}
.scoreSheet{
    color: #94AAD9;
}